/* Font */
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Thin.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/JetBrainsMonoNerdFontMono-ThinItalic.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Light.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/JetBrainsMonoNerdFontMono-LightItalic.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Regular.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Italic.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Medium.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/JetBrainsMonoNerdFontMono-MediumItalic.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/JetBrainsMonoNerdFontMono-Bold.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/JetBrainsMonoNerdFontMono-BoldItalic.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/JetBrainsMonoNerdFontMono-ExtraBold.ttf');
}
@font-face {
    font-family: JetBrains;
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/JetBrainsMonoNerdFontMono-ExtraBoldItalic.ttf');
}

/* Variables */
:root {
	--bg-color: #282828;
	--fg-color: #EBDBB2;
}

/* Animations */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink-bg {
	0% {
		background: var(--bg-color);
		color: var(--fg-color);
	}
	50% {
		background: var(--fg-color);
		color: var(--bg-color);
	}
	100% {
		background: var(--bg-color);
		color: var(--fg-color);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: JetBrains;

	color: var(--fg-color);
}

body {
	height: 100dvh;
	background: var(--bg-color);

	display: flex;
	flex-direction: column;
	justify-content: stretch;

	overflow: hidden;
}

/* Header */
header {
	height: 10vh;
	width: 100%;

	display: flex;
	align-items: center;
	position: relative;
	z-index: 10;

	padding: 0 20px;
	border: 2px solid var(--fg-color);

	transition: ease-in-out 0.5s;
}

header.closed {
	margin-top: -10vh;

	transition: ease-in-out 0.7s;
}

header .close {
	height: 20px;
	width: 50px;

	position: absolute;
	bottom: -20px;
	right: 0;

	background: var(--fg-color);

	border: none;
}

header .close::after {
	content: "";

	position: absolute;
	top: 0;
	left: -20px;

	border-top: 10px solid var(--fg-color);
	border-right: 10px solid var(--fg-color);
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

header .close:hover {
	cursor: pointer;
}

header .close p {
	color: var(--bg-color);

	rotate: 90deg;

	transition: ease-in-out 0.5s;
}

header.closed .close p {
	rotate: 270deg;

	transition: ease-in-out 0.7s;
}

header h1 {
	font-weight: 900;
}

/* Body */
main {
	flex: 1 1 auto;

	display: flex;
	flex-direction: row;

	position: relative;
}

/* Body - Nav */
main nav {
	width: 20vw;
	height: 100%;

	display: flex;
	flex-direction: column;

	position: relative;

	border: 2px solid var(--fg-color);

	transition: ease-in-out 0.5s;
}

main nav.closed {
	margin-left: -20vw;

	transition: ease-in-out 0.7s;
}

main nav .close {
	width: 20px;
	height: 50px;

	position: absolute;
	right: -20px;
	top: 0;

	background: var(--fg-color);

	border: none;
}

main nav .close::after {
	content: "";

	position: absolute;
	bottom: -20px;
	left: 0;

	border-top: 10px solid var(--fg-color);
	border-left: 10px solid var(--fg-color);
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

main nav .close:hover {
	cursor: pointer;
}

main nav .close p {
	color: var(--bg-color);

	transition: ease-in-out 0.5s;
}

main nav.closed .close p {
	rotate: 180deg;

	transition: ease-in-out 0.7s;
}

main nav a {
	flex: 1 1 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	font-weight: 900;
	font-size: 120%;
}

main nav a:hover {
	cursor: pointer;

	background: var(--fg-color);
}

main nav a:hover p {
	color: var(--bg-color);
}

main nav a:hover p::before {
	content: '> ';
	animation: blink infinite 2.5s;
}

/* Body - Content */
main #content {
	flex: 1 1 auto;

	border: 2px solid var(--fg-color);
	padding: 20px 40px;

	text-align: justify;
}

/* Footer */
footer {
	height: 10vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	position: relative;

	border: 2px solid var(--fg-color);

	transition: ease-in-out 0.5s;
}

footer.closed {
	margin-bottom: -10vh;

	transition: ease-in-out 0.7s;
}

footer .close {
	height: 20px;
	width: 50px;

	position: absolute;
	top: -20px;
	right: 0;

	background: var(--fg-color);

	border: none;
}

footer .close::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: -20px;

	border-bottom: 10px solid var(--fg-color);
	border-right: 10px solid var(--fg-color);
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
}

footer .close:hover {
	cursor: pointer;
}

footer .close p {
	color: var(--bg-color);

	rotate: 270deg;

	transition: ease-in-out 0.5s;
}

footer.closed .close p {
	rotate: 90deg;

	transition: ease-in-out 0.7s;
}

footer a {
	padding: 0 20px;
}

footer a:hover {
	animation: blink-bg infinite 2.5s;
}
