<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Styles -->
		<link href="assets/css/style.css" rel="stylesheet">
		<!-- Scripts -->
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		<script src="assets/js/windows.js"></script>
	</head>
	<body>
		<header>
			<h1>Alejandro Yuste</h1>
			<button type="button" class="close"><p>&lt;</p></button>
		</header>
		<main>
			<nav>
				<button type="button" class="close"><p>&lt;</p></button>
				<a hx-get="/home" hx-target="#content" hx-swap="innerHTML"><p>Home</p></a>
				<a hx-get="/experience" hx-target="#content" hx-swap="innerHTML"><p>Experience</p></a>
				<a hx-get="/projects" hx-target="#content" hx-swap="innerHTML"><p>Projects</p></a>
				<a hx-get="/blog" hx-target="#content" hx-swap="innerHTML"><p>Blog</p></a>
				<a hx-get="/contact" hx-target="#content" hx-swap="innerHTML"><p>Contact</p></a>
			</nav>
			<section id="content">
				<div
					hx-trigger="load"
					hx-get="/home"
					hx-swap="outerHTML"
				></div>
			</section>
		</main>
		<footer>
			<button type="button" class="close"><p>&lt;</p></button>
			<a href="https://github.com/Alyuu" target="_blank">@GitHub</a>
			<a href="https://twitter.com/its_alyuu" target="_blank">@Twitter</a>
			<a href="https://www.linkedin.com/in/alejandro-yuste/" target="_blank">@LinkedIn</a>
		</footer>
	</body>
</html>
